<h1>See the article</h1>

<ul>
    <li>
        <%="Title: " + @article.title %><br>
        <%="Text: " + @article.text %>
    </li>
</ul>

<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
